    <!-- Productos -->
    <div class="section">

            <!-- Card  -->
            <div id="app" class="row columns is-multiline">
                <div class="column is-3"  *ngFor="let p of productos">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="https://picsum.photos/300/200?random={{p._id}}" alt="Image">
                            </figure>
                        </div>

                        <div class="columns content">
                            <div>
                                <div class="column">
                                    <button (click)="aniadirProducto(p)" >Comprar ya!!</button>
                                </div>
                            </div>

                            <p class="column"><strong>{{ p.precio }} Eu.</strong></p>

                        </div>

                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 no-padding">{{p.nombre}}</p>
                                    <p class="is-fullheight is-primary">{{ p.descripcion }}</p>
                                    <!--  <p class="is-6">{{p.descripcion}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

        <!--  End Card -->
